/* Title */

.weather-app-title{
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/* Information */

.current-location{
  text-align: center;
  color:#fff;
  font-size:42px;
}

.description-text{
  text-align: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;

}

.temperature {
  color: #fff;
  font-size: 70px;
}

.unit-deg {
  color: #fff;
  font-size: 20px;
  position: absolute;
}

.wind-speed {
  color:#fff;
  font-size: 12px;
}

.content{
	margin-top: 50px;
}

#middle-panel{
	margin-top: 30px;
	margin-bottom: 50px;
}

.panel-default{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 10px;
}

/* Button */

.unit-value {
  color: #337ABA;
  margin:0;
  font-size: 18px;
  padding: 2px 10px;
}

/* Footer Information */

.footer {
  float: right;
  margin-top: 100px;
  font-style: italic;
  color: #fff;
}

/* Dev info */

.dev-info{
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
  text-align: left;
  color: #fff;
}

#website-link{
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* Media Queries */

@media (max-width: 992px){
  .weather-image{
    text-align: center;
  }
  .conditions{
    text-align: center;
  }
  .wind{
    text-align: center;
  }
  .button-section{
    text-align: center;
  }
}